/* Display filter button */
.displayFilter {
  margin: 1rem 0;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background: #f4f6fa;
  color: royalblue;
  font-weight: bold;
  border: none;
}

/* regular buttons */
.btn {
  color: white;
  background: royalblue;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(65, 105, 225, 0.842);
}
