/* product table specifically */
.orderSection {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.product-name {
  text-transform: uppercase;
}

.product-id {
  font-weight: bold;
}

.product-price {
  font-weight: bold;
  min-width: 120px;
}

.product-descr {
  font-size: 1.2rem;
  max-width: 200px;
  padding: 1rem;
  text-align: justify;
}

.product-qty {
  width: 110px;
}

.product-cat {
  text-transform: uppercase;
}

.product-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(65, 105, 225, 0.318);
  transition: all 0.3s ease;
}

.product-image:hover {
  transform: scale(2) translateX(-20px);
  cursor: pointer;
}
