@import url(/public/assets/styles/typography.css);
@import url(/public/assets/styles/utilities.css);
@import url(/public/assets/styles/variables.css);
@import url(/src/components/buttons/buttons.css);
@import url(/src/components/carrousel/carrousel.css);
@import url(/src/components/form/form.css);
@import url(/src/components/header/header.css);
@import url(/src/components/productSelector/productSelector.css);
@import url(/src/components/productTable/productTable.css);
@import url(/src/pages/about/aboutPage.css);
@import url(/src/pages/contact/contactPage.css);
@import url(/src/pages/home/homePage.css);

/* General styling ⬇️ */

body {
  background: #f4f6fa;
}

ul,
li,
figure,
p {
  margin: 0;
  padding: 0;
}

/* General styles for fieldsets */
fieldset {
  border-radius: 10px;
  border: none;
  background: white;
  padding: 2rem;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.163);
  margin: 2rem 0;
}

legend {
  font-size: 2.3rem;
  background: white;
  border-radius: 10px;
  padding: 0.5rem 3rem;
  color: royalblue;
  letter-spacing: 2px;
  position: relative;
}

legend::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 15px;
  width: 20%;
  background: royalblue;
  bottom: 1px;
  left: 22%;
  transform: translate(-50%);
}

table {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

/* heading table */
th {
  border-radius: 3px;
  background: #f4f6fa;
  padding: 0.5rem;
  border: 1px solid black;
  font-size: 1.2rem;
}

td {
  border: 1px solid black;
}

/* all the input rows */
.input-row {
  margin: 0 1rem 2rem 1rem;
  display: flex;
  align-items: center;
}

.input-row label {
  min-width: 70px;
}

.input-row input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  background: #f4f6fa;
}

.input-row span {
  position: absolute;
}
